name: Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Upload verify-files-json artifact1
        id: upload-artifact1
        uses: ./
        with:
          include: examples/python
          cache-pip: true
          install: true
      - name: Upload verify-files-json artifact2
        id: upload-artifact2
        uses: ./
        with:
          exclude: |
            examples/java
            scripts
          artifact-name: verify-files-json-2
      - name: Upload verify-files-json artifact-all
        id: upload-artifact-all
        uses: ./
        with:
          artifact-name: verify-files-json-all
          filename: verify-files-all.json
          install: false

      - name: Test upload-artifact1
        run: |
          [ "${{ steps.upload-artifact1.outputs.json-path }}" = "$RUNNER_TEMP/verify-files.json" ]
      - name: Test upload-artifact2
        run: |
          [ "${{ steps.upload-artifact2.outputs.json-path }}" = "$RUNNER_TEMP/verify-files.json" ]
      - name: Test upload-artifact-all
        run: |
          [ "${{ steps.upload-artifact-all.outputs.json-path }}" = "$RUNNER_TEMP/verify-files-all.json" ]

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ runner.os }}-verify-files-json
          path: artifact
      - name: Download artifact2
        uses: actions/download-artifact@v3
        with:
          name: verify-files-json-2
          path: artifact2
      - name: Download artifact-all
        uses: actions/download-artifact@v3
        with:
          name: verify-files-json-all
          path: artifact-all

      - name: Compare files
        run: |
          python scripts/input_diff.txt artifact/verify-files.json artifact2/verify-files.json
        shell: bash
      - name: Compare files all
        run: |
          python scripts/input_diff.txt artifact/verify-files.json artifact-all/verify-files-all.json --not-equal
        shell: bash
