name: Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up competitive-verifier
        uses: competitive-verifier/setup-competitive-verifier@v1
        with:
          python-version: "3.9"

      - name: oj-resolve with include
        id: include
        uses: ./
        with:
          include: examples/python
          output-path: ./verify-files.json
      - name: oj-resolve with exclude
        id: exclude
        uses: ./
        with:
          exclude: |
            examples/java
            scripts
          output-path: ${{runner.temp}}/verify-files.json
      - name: oj-resolve all
        id: all
        uses: ./
        with:
          output-path: verify-files-all.json
      - name: Check path
        run: |
          test "${{steps.include.outputs.json-path}}" = "./verify-files.json"
          test "${{steps.exclude.outputs.json-path}}" = "$RUNNER_TEMP/verify-files.json"
          test "${{steps.all.outputs.json-path}}" = "verify-files-all.json"

      - name: Compare files
        shell: bash
        run: |
          python scripts/input_diff.txt "${{steps.include.outputs.json-path}}" "${{steps.exclude.outputs.json-path}}"
      - name: Compare files all
        shell: bash
        run: |
          python scripts/input_diff.txt "${{steps.include.outputs.json-path}}" "${{steps.all.outputs.json-path}}" --not-equal
